body{
  width:100%;
  height:100vh;
}
.wrap {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  width: 100%;
}
h1 {
    padding: 10px;
    background: #f5eff7;
    text-align: center;
    font-size: 1.2rem;
}
button {
  width: 50%;
  height: 10%;
  padding: 16px 0;
  margin: auto 0;
}
#imageLink {
  width: fit-content;
  margin: 10px 0;
  color: #9a80a3;
  text-decoration: none;
}
#imageLink span {
    display: inline-block;
    width: fit-content;
    margin: 0 10px 0 0;
    padding: 5px 10px;
    background: #9a80a3;
    color: #ffffff;
}
